<div id="container">
  <div id="left_col">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/help/">Help</a></li>
      <li><a href="/rules/">Rules</a></li>
      <li><a href="/services/">Services</a></li>
      <li><a href="/signup/">Signup</a></li>
      <li><a href="/donate/">Donate</a></li>
      <br/>
      <li><a href="https://mail.floorchan.org/">Floorchan Webmail</a></li>
      <li><a href="https://games.floorchan.org/">Floorchan Statistics Page</a></li>
      <li><a href="https://users.floorchan.org/">Floorchan User Webpages Directory</a></li>
      <li><a href="https://bbs.floorchan.org/">Floorchan Imageboard</a></li>
      <li><a href="/LookingGlass/">Floorchan Network Looking Glass</a></li>
      <li><a href="/transparency/">Floorchan Billing Transparency</a></li>
      <li><a href="https://floorchan.uservoice.com/forums/276828-general">Floorchan Democracy Feedback System</a></li>
    </ul>
    <a class="twitter-timeline" href="https://twitter.com/FloorchanNetwrk" data-widget-id="324009706261725186">Tweets by @FloorchanNetwrk</a>
    <script>
      ! function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
          js = d.createElement(s);
          js.id = id;
          js.src = p + "://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);
        }
      }(document, "script", "twitter-wjs");
    </script>
  </div>
